aws_access_key = "AKIAJYWVE42U24TGDLUQ"

aws_secret_key = "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"

key_name = "pluralsight"

private_key_path = "/Users/kolawole.bekes/Documents/MyGit'pluralsight.pem"
